<div class="hero-unit text-align-center">
  <h1>Core Values & Me</h1>
  <a href="#" style="margin-top:15px" class="btn btn-primary btn-large">Sign up for a free 60 days trial</a>

  <h3>Engaging, Rewarding and Motivating your people through your Core Values</h3>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/IpDOFMOH2JM" frameborder="0" allowfullscreen></iframe>
</div>

<div id="boss" class="hero-unit text-align-center">
  <h1>Convince Your Boss</h1>

  <div class="row-fluid">
    <div class="span4">
      <h3>Productivity Gains</h3>
      <h1>2x</h1>
      <p><a href="http://www.foxbusiness.com/personal-finance/2010/11/30/boost-employee-productivity/" target="_blank"> a motivated employee can easily be twice as productive as a marginally motivated employee</a></p>
    </div>
    <div class="span4">
      <h3>Quick and Easy</h3>
      <h1>Game on!</h1>
      <p>No setup and no manuals</p>
    </div>
    <div class="span4">
      <h3>Risks</h3>
      <h1>0</h1>
      Free trial. No credit cards.
    </div>
  </div>
</div>

<div id="pricing" class="hero-unit text-align-center">
  <h1>Pricing</h1>
</div>

<div id="contact" class="hero-unit text-align-center">
  <h1>Contact</h1>
</div>