<div class="hero-unit text-align-center">
  <h1>Core Values & Me</h1>
  <a href="#" style="margin-top:15px" class="btn btn-primary btn-large">Sign up for a free 60 days trial</a>

  <h3>Engaging, Rewarding and Motivating your people through your Core Values</h3>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/IpDOFMOH2JM" frameborder="0" allowfullscreen></iframe>
</div>

<div id="about" class="hero-unit text-align-center">
  <h1>What's in it for YOU?</h1>

  <div class="row-fluid">
    <div class="span6">
      <h3>I'm the Owner</h3>

      <p>Here's what a CEO would get by choosing us for her organization</p>
    </div>
    <div class="span6">
      <h3>I'm an Employee</h3>

      <p>Here's what you would get by using us every day</p>
    </div>
  </div>
</div>

<div id="pricing" class="hero-unit text-align-center">
  <h1>Pricing</h1>

  <div class="row-fluid">
    <div class="span3">
      <h2>Startup</h2>
      <h3>5 users</h3>
      <h4>Free!</h4>
    </div>
    <div class="span3">
      <h2>Small</h2>
      <h3>50 users</h3>
      <h4>39$ per month</h4>
    </div>
    <div class="span3">
      <h2>Medium</h2>
      <h3>200 users</h3>
      <h4>99$ per month</h4>
    </div>
    <div class="span3">
      <h2>Enterprise</h2>
      <h3>Unlimited Users</h3>
      <h4>Lets talk</h4>
    </div>
  </div>
</div>

<div id="contact" class="hero-unit text-align-center">
  <h1>Contact</h1>
</div>