<div class="hero-unit text-align-center">
  <h1>Core Values & Me</h1>
  <a href="#" style="margin-top:15px" class="btn btn-primary btn-large">Signup for free</a>

  <h3>Engaging, Rewarding and Motivating your people through Core Values</h3>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/IpDOFMOH2JM" frameborder="0" allowfullscreen></iframe>
</div>

<div id="about" class="hero-unit text-align-center">
  <h1>What's in it for YOU?</h1>

  <div class="row-fluid text-align-left">
    <div class="span6">
      <h2>I'm the Owner</h2>
      <ul>
        <li>
          <h3>Identify</h3>
          <ul>
            <li>
              The most valuable employees.
            </li>
            <li>
              Core values least demonstrated in your organization.
            </li>
          </ul>
        </li>
        <li>
          <h3>Cost effective</h3>
          <ul>
            <li>Cloud hosted solution - Zero setup time and costs</li>
            <li>
              Immediate return of investment
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span6">
      <h2>I'm an Employee</h2>
      <ul>
        <li>
          <h3>Recognition</h3>
          <ul>
            <li>
              See your achievements getting voted up by your peers.
            </li>
            <li>
              Earn and choose your own rewards.
            </li>
            <li>
              One click achievements snapshot for your performance appraisal.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="contact" class="hero-unit text-align-center">
  <h1>Contact</h1>
</div>